{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}
{% block content %}
{% load static %}

<p>
Data concerning arrivals at Larnaca and Paphos airports. The data are on a monthly basis and refer to the period from January 2001 onwards.

</p>


<div>
<img src="{% static 'tourism/larn_paph_arrivals.png' %}">
</div>
<div>

<table>
    <tr>
        <th>month</th>
        <th>larnaca airport</th>
        <th>paphos airport</th>
        <th>total arrivals</th>
    </tr>
    {%for obj in d%}
    <tr>
        <td>{{obj.MONTH}}</td>
        <td>{{obj.LARNACA_AIRPORT}}</td>
        <td>{{obj.PAPHOS_AIRPORT}}</td>
        <td>{{obj.TOTAL_ARRIVALS}}</td>
    </tr>
    {%endfor%}
</table>


</div>
{% endblock content %}