{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}
{% block content %}
{% load static %}
<div>
<img src="{% static 'tourism/larn_paph_arrivals.png' %}">
</div>
<div>
<table>
    <tr>
        <th>month</th>
        <th>larnaca airport</th>
        <th>paphos airport</th>
        <th>total arrivals</th>
    </tr>
    {%for obj in objects%}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.larnaca_airport}}</td>
        <td>{{obj.paphos_airport}}</td>
        <td>{{obj.total_arrivals}}</td>
    </tr>
    {%endfor%}
</table>
</div>
{% endblock content %}