{% extends 'main/base.html' %}
{% block content %}
<ul>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3109?language=en-->
            Income from Tourism per Month
        </a>
    </li>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3101?language=en-->
            Tourist Arrivals by Month
        </a>
    </li>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3103?language=en-->
            Arrivals at Airports by Month
        </a>
    </li>
</ul>


{% endblock content %}