{% extends 'main/base.html' %}
{% block content %}
<ul>
    <li>
        <a href="tourism_revenue_23">
            <!--https://www.data.gov.cy/node/3109?language=en-->
            Income from Tourism per Month
        </a>
    </li>
    <li>
        <a href="tourist_arrivals_per_month">
            <!--https://www.data.gov.cy/node/3101?language=en-->
            Tourist Arrivals by Month
        </a>
    </li>
    <li>
        <a href="arrivals_at_airports_by_month">
            <!--https://www.data.gov.cy/node/3103?language=en-->
            Arrivals at Airports by Month
        </a>
    </li>
</ul>


{% endblock content %}