{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}

{% load static %}
<p>Tourist arrivals per month since 1990 (in 1000s)</p>
<div>
    <img src="{% static 'tourism/tourist_arrivals.png' %}" alt="" srcset="">
</div>
<div>
<table>
    <tr>
        <th>month</th>
        <th>arrivals</th>
    </tr>
    {% for obj in objects %}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.arrivals}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}