{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}
{% load static %}
<p>Statistics related to tourism revenue per month. The data are on a monthly basis, refer to the period from January 2001 onwards, and for each month include the following fields:

* MONTH
* REVENUE_IN_MILLION_EUROS
* REVENUE_PER_CAPITA_IN_EUROS

</p>

<div>
    <div>
        <img src="{% static 'tourism/tourism_revenue.png' %}" alt="" srcset="">
    </div>
</div>

<div>
<table>
    <tr>
        <th>month</th>
        <th>revenue_in_million_euros</th>
        <th>revenue_per_capita_in_euros</th>
    </tr>
    {% for obj in objects %}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.revenue_in_million_euros}}</td>
            <td>{{obj.revenue_per_capita_in_euros}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}
