{% extends 'main/base.html' %}
{% block content %}
<ul>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3875?language=en-->
            Sales of Real Estate to Foreigners (EU citizens and citizens of third countries)
        </a>
    </li>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3885?language=en-->
        Real Estate Mortgage Statistics
    </a>
    </li>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3880?language=en-->
            Real Estate Sales - Transfers Statistics
        </a>
    </li>
    <li>
        <a href="">
            <!--https://www.data.gov.cy/node/3890?language=en-->
            Statistics of Real Estate Sales Documents
        </a>
    </li>
</ul>
{% endblock content %} 