{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}
{% load static %}

<p>Statistics relating to real estate mortgages, by province. The data is on a monthly basis and includes:
</p>

<li>
    <ul>a. Number of Mortgages</ul>
    <ul>b. Total Amount of Mortgages</ul>
</li>



<div>
</div>

<div >
{% for pat in paths %}
    <img src={% static pat %} alt="stat" >
    {% endfor %}
    </div>
    
    <div>
 
    <table>

        <tr>
            <th>month</th>
            <th>district</th>
            <th>mortgages</th>
            <th>total amount</th>
        </tr>
        {%for obj in objects%}
        <tr>
            <td>{{obj.month}}</td>
            <td>{{obj.district}}</td>
            <td>{{obj.mortgages}}</td>
            <td>{{obj.total_amount}}</td>
        </tr> 
        {% endfor %}
    </table>
    </div>


{%endblock%}