{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}
{% load static %}


<p>Statistical data in relation to real estate sales to citizens of the European Union (excluding Cypriots) and citizens of Third States, by province. The data are on a monthly basis and include four subsets:
</p>

<li>
<ul>a. Number of properties transferred (sales)</ul>
<ul>b. Number of properties for which sales documents have been filed</ul>
<ul>c. Number of buyers - transfers (sales)</ul>
<ul>d. Number of buyers - filing of sales document</ul>
</li>

{% for typ in types_path %}
    <img src = {% static typ  %} >
{% endfor %}

<table>
    <tr>
        <td>month </td>
        <td>description </td>
        <td>category </td>
        <td>nicosia </td>
        <td>famagusta </td>
        <td>larnaca </td>
        <td>limassol </td>
        <td>pafos </td>
        <td>all_districts </td>
    </tr>
    {% for obj  in objects %}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.description}}</td>
        <td>{{obj.category}}</td>
        <td>{{obj.nicosia}}</td>
        <td>{{obj.famagusta}}</td>
        <td>{{obj.larnaca}}</td>
        <td>{{obj.limassol}}</td>
        <td>{{obj.pafos}}</td>
        <td>{{obj.all_districts}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}