{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}
{% load static %}

{% for typ in types_path %}
    <img src = {% static typ  %} >
{% endfor %}

<table>
    <tr>
        <td>month </td>
        <td>description </td>
        <td>category </td>
        <td>nicosia </td>
        <td>famagusta </td>
        <td>larnaca </td>
        <td>limassol </td>
        <td>pafos </td>
        <td>all_districts </td>
    </tr>
    {% for obj  in objects %}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.description}}</td>
        <td>{{obj.category}}</td>
        <td>{{obj.nicosia}}</td>
        <td>{{obj.famagusta}}</td>
        <td>{{obj.larnaca}}</td>
        <td>{{obj.limassol}}</td>
        <td>{{obj.pafos}}</td>
        <td>{{obj.all_districts}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}