{% extends 'main/base.html' %}
{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
{% endblock style %}

{% block content %}
{% load static %}

<p>Statistical data in relation to property sales-transfers, by province. The data is on a monthly basis and includes:</p>
<li>

    <ul>a. Total Number of Cases</ul>
    <ul>b. Total Number of Pieces</ul>
    <ul>c. Total Total Amount Declared</ul>
    <ul>d. Total Total Accepted Amount</ul>

</li>

<div>
{% for pat in paths %}
<img src={% static pat %}>
{% endfor %}
</div>
<table>
    <tr>
        <td>month</td>
        <td>district</td>
        <td>cases</td>
        <td>temaxia</td>
        <td>total_declared_amount</td>
        <td>total_accepted_amount</td>
    </tr>
    {% for obj in objects %}
    <tr>
        <td>{{obj.month}}</td>
        <td>{{obj.district}}</td>
        <td>{{obj.cases}}</td>
        <td>{{obj.temaxia}}</td>
        <td>{{obj.total_declared_amount}}</td>
        <td>{{obj.total_accepted_amount}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}